@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway');

/*
// Nav
*/
nav {
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

nav h2 {
    color: white !important;
    font-size: 28px;
    font-weight: bold;
}

nav .right ul li a {
    color: white;
    font-size: 23px;
}

nav .right ul li a:hover {
    text-decoration: none;
}
/*
// Header
*/
.header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4ec0e0+2,004f66+100 */
    background: #4ec0e0; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4ec0e0 2%, #004f66 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4ec0e0 2%,#004f66 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4ec0e0 2%,#004f66 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0e0', endColorstr='#004f66',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
}


.header .uk-container {
    padding: 180px;
}

.header h1 {
    color: white;
    font-size: 80px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.main {
    padding-top: 40px;
}

.center {
    text-align: center;
}