img {
  width: 100%;
}

ul li {
  font-size: 20px;
}

.hero {
  background-image: url("../imgs/web.png");
}

.hero h1 {
	font-size: 70px;
  margin: 13% 0;
}

/* Media Q's */
@media (max-width: 1300px) {
  .hero {
    background-position: center bottom;
  }
}

@media (max-width: 1000px) {
  .hero {
    background-position: center 60%;
  }
}
